.checkout {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; /* Fill the entire width of the screen */
  height: 150vh; /* Fill the entire height of the screen */
  margin-left: 0px;
}

.p-Grid{
    background-color: red;
}
.carousel-container {
  width: 288px;
  height: 301px;
  margin: 0 auto; /* To center align the carousel */
}
.slick-dots {
  /* Change the size of the dots */
  font-size: 20px;
}

/* Change the size of individual dots */
.slick-dots li button:before {
  font-size: 10px; /* Adjust the size of the dots */
  /* Additional styles if needed */
}

#payment-form{
    margin-left: 638px;
    width: 638px;
}
#payment-element{
    
    width: 638px;
}

.checkout .div {
  background-color: #ffffff;
  height: 100%; /* Fill the entire height of the screen */
  overflow: hidden;
  position: relative;
  width: 100%; /* Fill the entire width of the screen */
}

.checkout .overlap-2 {
  background-image: url(https://cdn.animaapp.com/projects/6536ca3087fc067bdeed2d5e/releases/656d37045c84f45c768146e6/img/mask-group.png);
  background-size: cover; /* Ensure the background covers the entire container */
  height: 150vh; /* Fill the entire height of the container */
  position: relative;
}

.checkout .overlap {
  background-color: #ffffff;
  box-shadow: 0px 4px 38px #00000040;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1240px;
}

.checkout .overlap-group {
  /* Remove fixed height */
  /* height: 1024px; */

  height: auto; /* Let it adjust based on content */
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.checkout .overlap-3 {
  background-image: url(https://cdn.animaapp.com/projects/6536ca3087fc067bdeed2d5e/releases/656d37045c84f45c768146e6/img/vector.svg);
  background-size: 100% 100%;
  height: 150vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 628px;
}

.checkout .overlap-group-3 {
  height: 33px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 270px;
}
.title {
  color: #000;

  font-family: 'Poppins';
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 112px;
  margin-left: 80px;
}
