@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
.addForm{
  width: 764px;
  height: 695px;
    border-radius: 26px 26px 26px 26px;
    left:28%  ;
    top:5%;
    display: flex;
    margin-bottom: 10%;
    scroll-behavior: inherit;
    overflow-y: auto;
}
.topBorder {
  margin: -1rem;
  margin-bottom: 20px;
  height: 77px;
  padding-left: 27px;
  padding-top: 21px;
  border-radius: 26px 26px 0px 0px;
  background-color: #EA580C;
} 
.doctor {
  color: var(--white-100, #ffffff);
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: 500;
  position: inherit;
  bottom: 90%;
  right: 55%;
  z-index: 2; /* Set the z-index to bring it above other elements */
}
.userTitle{
    color: var(--white-100, #ffffff);
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: 500;
  position: inherit;
  bottom: 90%;
  right: 65%;
}

.title{
  color: #242426;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.headersPers, .headersDoc, .headersProf{
  color: #242731;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  text-align: justify;
}
.headersPers{
  margin-top: -7%;
  margin-bottom: 4%;
}
.headersDoc{
 margin-bottom: 2%;
  margin-top: 3%;
}
.headersProf{
 
  margin-top: 3%;
}

.smallText{
    color: #333;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
}
.fieldGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 35px; /* Adjust the gap as needed */
    margin-bottom: 2%;
    text-align: justify;
  }
  .images{
    display: flex;
    flex-wrap: wrap;
  }
  .field{
    flex:  1;
    min-width: 150px;
    max-width: 190px;
  }
  .dateField{
    flex: 1 1;
    min-width: 150px;
    max-width: 190px;
    margin-left: 8%;
  }
  .nameField{
    flex:  1;
    min-width: 240px;
    max-width: 190px;
  }
  .form{
    position: absolute;
    top: 6%;
    margin-left: 5%;
    display: grid;
    align-items: flex-start;
    grid-row-gap: 15px;
    width: 764px;
  height: 650px;
  }
 .personal{
  padding-top:  7%;
  margin-bottom: 0%;
  text-align: -webkit-left;
 }
 .professional{
    margin-top: 0%;
  text-align: -webkit-left;
 }
  
  .formControl {
    /* Make the form controls fill the available width */
    width: 250px;
    outline: none;
    /* background-color: rgba(165, 165, 165, 0.44); */
    background-clip: padding-box;
    border-radius: 25px;
    border: none; 
  }
  
  .accept{
    position: absolute;
    left: 77%;
    margin: 54px 13px 13px 0px;
    border-radius: 11px;
    width: 94px;
    height: 36px;
    color: #FFF;
    background-color: #62C292;
  }
  .reject{
    position: inherit;
    left: 77%;
    margin: 54px 13px 13px 8px;
    border-radius: 11px;
    width: 94px;
    height: 36px;
    color: #FFF;
    background-color: #ED3443;
  }
  
  .buttonPos{
    margin-bottom: 60%;
    margin-left: 54%;
    justify-content: space-between;
  }
  .images{
    margin-left: 7%;
  }
  .spacing{
    margin-left: 5%;
    margin-bottom: -5%;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Adjust the z-index as needed */
  }
  
  .formContainer {
    position: fixed;
    top: 53%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Make sure this is higher than the overlay z-index */
    scroll-behavior: smooth;
  }
  .addForm::-webkit-scrollbar {
    width: 4px; /* For Chrome, Safari, and Opera */
  }
  
  