.background {
    background-color: #96B7C7;
}

.mainBackground {
    background-color: #96B7C7;
    height: 100vh;
}

.secondBackground {
    position: relative;
    background-color: #FFFFFF;
    height: 100vh;
    border-top-left-radius: 62px;
    border-bottom-left-radius: 62px;
    align-content: center;
    font-family: 'Telex', sans-serif;
}

.logo {
    display: flex;
    padding-top: 43px;
    padding-left: 65px;
    width: 165px;
}

.medicinesImage {
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 52%;
    z-index: 1;
}

.customText {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 24px;
    color: #0F172A;
    margin-left: 5%;
    margin-top: 20%;
    width: 80%;
}

.p1 {
    display: flex;
    text-align: left;
    margin-top: -50px;
    margin-bottom: 2rem;
    font-size: 36px;
    letter-spacing: 10%;
    font-weight: bolder;
    z-index: 10;
}

.p2 {
    display: flex;
    text-align: left;
    font-size: 25;
    letter-spacing: 10%;
    font-weight: bolder;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 10;
    align-content: center;
}

.textBox {
    display: flex;
    outline: none;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    margin-right: 41px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.textBox::placeholder {
    color: #5C5C5C;
}

.textBox:focus {
    border-bottom: 1px solid #000000;
}

.buttonText {
    display: flex;
    justify-content: center;
    font-size: 19px;

}

.button {
    background-color: #193842;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 19px;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
}

.daySelect {
    max-height: 40px;
    max-width: 80px;
    margin-right: 10px;
    display: inline-block;
}

#dobYear {
    margin-top: 5px;
}

input.numField::-webkit-outer-spin-button,
input.numField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].numField {
    -moz-appearance: textfield;
}