.row {
    width: 100vw;
}

.myMessages{
    overflow: auto;
}

.messageCol {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 0;
    border-right: 0.25px solid var(--text-icons-faded-grey, #AFB8CF);
    background-color: #f6f6f6;
}

.searchChat{
    margin-block: 15px;

    margin-inline: 30px;
    display: flex;
    padding: var(--8, 8px) var(--16, 16px);
    align-items: center;
    gap: var(--4, 4px);
    border-radius: var(--8, 8px);
    background: var(--colors-back-ground-blue-white-text, #F8F9FD);
    border-style: none;
    color: var(--text-icons-grey, #9FA7BE);
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 0.25px solid var(--text-icons-faded-grey, #AFB8CF);

}
.searchText{
    display: flex;
    width: 100%;
    padding: var(--8, 8px) var(--16, 16px);
    align-items: center;
    gap: var(--4, 4px);
    border-radius: var(--8, 8px);
    background: var(--colors-back-ground-blue-white-text, #F8F9FD);
    border-style: none;
    color: var(--text-icons-grey, #45464a);
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chatCol {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    padding-inline: 0;
}

.chatRoom{
    border-style: none;
    display: flex;
    background-color: inherit;
    width: 100%;
    height: 120px;
    padding: 16px 0px 16px 24px;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border-bottom: 0.25px solid var(--text-icons-faded-grey, #AFB8CF);    
}

.chatRoom:hover {
    background-color: #ebebeb;
}

.chatInfo{
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    color: #636363;
}

.lastMessage{
    margin-top: 10px;
}

.backArrow{
    position: fixed;
    transform: rotate(90deg);
    top: 28px;
    left: 10px;
    z-index: 1;
}

.chosenChat{
    display: flex;
    width: 100%;
    height: 76px;
    padding: var(--16, 16px) var(--24, 24px);
    border-bottom: 0.25px solid var(--text-icons-faded-grey, #AFB8CF);
    justify-content: space-between;
    align-items: center;
}

.RoomLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.RoomRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.senderBox{
    margin-top: 10px;
    text-align: start;
    display: flex;
    padding: var(--16, 16px) var(--24, 24px);
    align-items: center;
    gap: 10px;
    border-radius: 32px 32px 32px 0px;
    background: #DCE6FF;
    max-width:550px;   
}

.senderText{
    color: var(--text-text-grey, #636363);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow-wrap: break-word; /* Use this line instead */

}

.timestamp {
    color: #AFB8CF;
    font-size: 13px;
}

.receiverText{
    color: var(--text-text-grey, #ffffff);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow-wrap: break-word; /* Use this line instead */
}

.receiverBox{
    margin-top: 10px;
    text-align: start;
    display: flex;
    padding: var(--16, 16px) var(--24, 24px);
    align-items: center;
    gap: 10px;
    border-radius: 32px 32px 0px 32px;
    background: #96B7C7;
    max-width: 550px;   

}
.Room{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.backArrow{
    margin-top: 5.5px;
    margin-left: 5px;
    transform: rotate(90deg);
    z-index: 1;
}

.backButton {
    cursor: pointer;
    color: #3D64FD;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 20px;
}

.messages{
    text-align: start;
    color: var(--text-icons-black, #1A1A1B);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.textBox{
    display: flex;
    border-style: none;
    width: 600px;
    padding: var(--8, 8px) var(--8, 8px) var(--8, 8px) var(--16, 16px);
    align-items: center;
    gap: 219px;
    border-radius: 24px;
    background: var(--colors-back-ground-blue-white-text, #F8F9FD);
    color: var(--text-icons-grey, #454546);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.typingSpace{
    display: flex;
    width: 100%;
    height: 100px;
    padding: var(--16, 16px) var(--24, 24px);
    justify-content: center;
    align-items: center;
    gap: 106px;
    background: var(--white-100, #FFF);
}
.sendButton{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #96B7C7; /* Change the background color */
    color: #fff; /* Change the text color */
    border: none;
    height:32px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    cursor: pointer;
}
.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }