@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.logo {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 100px;
    height: 35px;
}

.bigContainer {
    font-family: 'Poppins';
    width: 50%;
    height: 70%;
    background-color: white;
    border: 0.5px #d5e0d5 solid;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftSmallContainer{
    width: 30%;
    height: 30%;
    background-color: white;
    border: 0.5px #d5e0d5 solid;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.leftSmallContainer:hover{
    border-color: #193842;
}

.rightSmallContainer{
    width: 30%;
    height: 30%;
    background-color: white;
    border: 0.5px #d5e0d5 solid;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.rightSmallContainer:hover{
    border-color: #193842;
}

.selected{ 
    border-color: #193842;
    color: #d5e0d5;
}

.LabelTextStyle{ 
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Poppins', Times, serif;
}

.button{ 
    width: 50%;
    height: 50px;
    background-color: #193842;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 50%;
}

.p1{
    position: relative;
    top: 45%;
    left: 30%;
}

.login{ 
    text-decoration: none;
    color: #193842;
}

.textStyle{ 
    font-size: 20px;
    font-family: 'Poppins', Times, serif;
    text-align: left;
    margin-left: 5px;
    margin-top: 50px;
}